@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --color1: #0A3871;
    --color2: #495057;
    --color3: #ffffff;
    --color4: #D8DFE8;
    --color5: #171B34;
    --color6: #000000;
    --font: 'Inter', sans-serif;
}

body{
    margin:0px;
    padding:0px;
    background-color: #F3F5FC;
    box-sizing: border-box;
}

.logo_alura{
    gap:40px;
    display: flex;
    position: absolute;
    padding: 40px 0 0 84px;
}

a{text-decoration: none;}

main.corpo{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    gap:40px;
}

section.criptografar{
    display: flex;
    flex-direction: column;
    width:47.22%;
    padding: 168px 0 0 240px;
}

textarea#secao-criptografa{
    resize: none;
    border-style: none;
    font-family: var(--font);
    text-align: justify;
    font-size: 2rem;
    font-weight: 400;
    color: var(--color1);
    height:60.28%;
    outline: none;
    text-transform: lowercase;
    background-color: inherit;
}

textarea#secao-criptografa::placeholder{
    color:var(--color1);
    text-transform: none;
}

div.alert{
    display: flex;
    align-items: center;
    gap:8px;
    font-size: 0.75rem;
    font-family: var(--font);
    font-weight: 400; 
    margin-bottom: 16px;
}

div.alert p{
    color:var(--color2);
    font-weight: 400;
    opacity: 80%;
}

div.botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:24px;  
}

button.botao_criptografar{
    width: 48.23%;
    border:none;
    border-radius: 24px;
    background-color: var(--color1);
    color:var(--color3);
    font-family: var(--font);
    font-weight: 400;
    font-size: 1rem;
    padding: 24px;
}

button.botao_descriptografar{
    width:48.23%;
    border:1px solid var(--color1);
    border-radius: 24px;
    background-color: var(--color4);
    color:var(--color1);
    font-family: var(--font);
    font-weight: 400;
    font-size: 1rem;
    padding: 24px;
}

button.botao_criptografar:hover, button.botao_descriptografar:hover{
    box-shadow: 2px 2px 20px var(--color5);
    transition: 1s;
}

button.botao_criptografar:active{
    background-color: var(--color4);
    color: var(--color1);
    transition: 0.01s;
}

button.botao_descriptografar:active{
    background: var(--color1);
    color: var(--color3);
    transition: 0.01s;
}

section.descriptografar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23.33%;
    background-color: var(--color5);
    border-radius: 32px;
    margin:40px 40px 40px 0;
    padding: 32px;
    box-shadow: 0px 24px 32px -8px var(--color6);
    gap:32px;
}

div#remover{
    display: flex;
    flex-direction: column;
    gap:32px;
}

textarea#secao-descriptografar{
    display: flex;
    flex-direction: column;
    resize:none;
    border-style: none;
    outline: none;
    font-size: 1.5rem;
    font-family: var(--font);
    text-align: justify;
    font-weight: 400;
    height:76.26%;
    color: var(--color3);
    background-color: inherit;
    display: none;
}

div.secao-texto{
    display: flex;
    flex-direction: column;
    gap:16px;
    text-align:center;
}

div.secao-texto h2{
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color3);
}

div.secao-texto p{
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 400;
    color:var(--color3);
    padding:24px;
}

button.copiar{
    width:100%;
    padding:24px;
    border:1px solid var(--color1);
    border-radius:24px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color:var(--color1);
    margin: 0 auto 0 auto;
    display: none;
}

button.copiar:hover{
    box-shadow: 1px 1px 10px 5px var(--color3);
    transition: 1s;
}

button.copiar:active{
    background-color: var(--color1);
    color:var(--color3);
    box-shadow: 1px 1px 10px 5px var(--color1);
    transition: 0.01s;
}

footer.rodape{
    background-color: var(--color5);
}

div#rodape_texto{
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:10px;
    color:var(--color3);
    font-size: 1.25rem;
}

@media (max-width:1024px){
    section.criptografar{
        padding: 168px 0 0 200px;
        text-align: center;
    }
}

@media (max-width:768px){
    section.criptografar{
        padding: 168px 0 0 5px;
        width: 89.58%;
    }

    main.corpo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.descriptografar{
        width:89.58%;
        margin:40px;
        padding:0px;
        height:17.31%;
        justify-content: center;
        align-items: center;
    }

    div.secao-texto{
        margin:32px;
    }

    img.svg_search{
        display: none;
    }

    textarea#secao-descriptografar{
        width:89.58%;
        height:180px;
        margin-top:32px;
    }

    button.copiar{
        width:81.25%;
        margin-bottom: 32px;    
    }
}

@media (max-width: 425px){
    div.botoes{
        flex-direction: column;
    }   
    button.botao_criptografar{
        width: 80.70%;
    }
    button.botao_descriptografar{
        width: 80.70%;
    }
    div#rodape_texto{
        flex-direction: column;
    }
    div#svg{
        flex-direction: row;
    }
}

@media (max-width:375px){
    button.botao_criptografar{
        width: 91.46%;
    }
    button.botao_descriptografar{
        width: 91.46%;
    }
    div.secao-texto p{
        padding:0px;
    }
}

@media (max-width:320px){
    div#rodape_texto{
        text-align: center;
        font-size: 1rem;
        flex-direction: column;
    }
}
