@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif; 
}
/*POSICIONANDO O SVG LOGO_ALURA*/
header#fundo{
    width: 120px;
    display: block;
    float: left;
    margin: 20px;
}
div#fundo_logo{
    width: 120px;
    height: 48px;
    text-align: center;
}
/*------------------------------------*/
/*PARTES DE BOTÕES E INPUT*/
menu.menu-container{
    width: 700px;
    display: block;
    float: left;
    padding: 0px;
    margin-bottom: 0px;
}
div#campo_entrada{
    width: 700px;
    margin:120px auto 0 auto;
    display: flex;
}
textarea#text_enter{
    border-style: none;
    background-color: transparent;
    font-size: 20px;
    padding: 0px;
    margin-bottom: 110px;
    resize: none;
    text-transform: lowercase;
    color:blue;
    outline: 0;
    width:100%;
}
textarea#text_enter::placeholder{
    color:blue;
    text-transform: none;
}
div#subgroup{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
div.cbt{
    display: flex;
    flex: content;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
button.bt{
    width: 300px;
    border-radius: 24px;
    padding: 10px;
}
button.bt:hover{
    box-shadow: 2px 2px 20px#171B34;
    transition: 1s;
}
button.cripto{
    background: #0A3871;
    color: white;
    border: 1px solid #0A3871;
    font-size: 16px;
}
button.cripto:active{
    background-color:  #D8DFE8;
    color: #0A3871;
}
button.descripto{
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    font-size: 16px;
}
button.descripto:active{
    background: #0A3871;
    color: white;
}
/*----------------------------*/
/*SECTION DA MENSAGEM*/
section.container{ /*ELEMENTO PAI*/
    margin: 2px 5px auto auto;
    width: 400px;
    height: 605px;
    background-color: #171B34;
    border-radius: 32px;
    display:flex;
    flex-direction: column;
    float: right;
    align-items: center;
    text-align: center;
    color: white;  
}
div.space-container{/*ELEMENTO FILHO*/
    width: 336px;
}
textarea#area{
    width:100%;
    margin-top: 5px;
    background-color: transparent;
    resize: none;
    border: none;
    color: white;
    font-family: inherit;
    text-align: justify;
    font-size: 14px;
    text-transform: lowercase;
    outline: 0;
}
div.svg_logo img{
    width:50%;
}
div.text h3{
    text-align: center;
    font-size: 32px;
}
div.text p{
    text-align: center;
    font-size: 16px;
    margin: 20px 0 26px 0;
}
button#btn_copy{ /*MUDAR O DISPLAY NO JAVASCRIPT */
    margin: 310px auto 0 auto;
    width: 300px;
    border-radius: 24px;
    padding: 10px;
    border: 1px solid #0A3871;
    font-size: 16px;
    transition: 1s;
    display: none;   
}
button#btn_copy:hover{
    box-shadow: 1px 1px 10px 5px white;
}
button#btn_copy:active{
    background-color: #0A3871;
    color:white;
    box-shadow: 1px 1px 10px 5px #0A3871;
}
/*--------------------------------*/
/*RODAPÉ*/
footer.copyright p{
    font-size: 14px;
    text-align: center;
}
footer.copyright{
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70.2%;
}
footer img{
    width: 20px;
    margin: 0 5px 0 0; 
}
a{
    text-decoration: none;
    padding:0px;
}
/*----------------------------------*/
/*MEDIA TABLET */
@media(min-width: 320px) and (max-width: 1024px){
    menu.menu-container{
        display: block;
        float: none;
        margin: auto;
        width: 90%;
    }
    textarea#text_enter{
        width: 90%;
     }
    button.bt{
         margin: 10px;
     }
    section.container{
        width: auto;
        height: auto;
        float: none;
        margin: 0 auto 0 auto;
    }
    div.space-container{
        width: 100%;
    }
    button.space-container btn{
        width: 500px;
    }
    textarea#area{
        width:95%;
        height:100px;
     }

    div.svg_logo img{
        display: none;
    }
    button#btn_copy{
        width: 70%;
        margin:5px auto 5px auto;
    }  
    footer.copyright{
        font-size: 14px;
        text-align: center;
        flex: none;
        margin: 10px auto 10px auto;
    }
}
/*---------------------------*/
/*MEDIA SMARTPHONE*/
@media(min-width:320px) and (max-width: 767px){
    div#campo_entrada{
        width: 100%;
        margin:0px;
    }
    textarea#text_enter{
        width:100%;
     }
     div.cbt{
        display: flex;
        flex: content;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
    }
    footer.copyright{
        width: 100%;
    }

    footer p{
        width: 65%;
    }
}
/*Ajustar o footer*/
@media (max-width:375px){
    footer p{
        width:90%;
    }
}